<header>
    <div class="header-content limite-central">
        <h1 class="logo">TOTOY FIGURE</h1>
        <nav class="menu-nav">
            <ul class="menu">
                <li><a href="../index.html">Início</a></li>
                <li><a href="../components/produtos.html">Produtos</a></li>
                <li><a href="#">Sobre</a></li>
                <li><a href="#">Contato</a></li>
            </ul>
        </nav>

        <div class="header-actions">
            <div class="search-box">
                <input type="text" placeholder="Buscar produto...">
                <button>
                    <img src="https://cdn-icons-png.flaticon.com/512/622/622669.png" alt="Buscar">
                </button>
            </div>

            <div class="carrinho-area">
                <a href="../components/carrinho.html">
                    <div class="cart-icon">
                        <img src="https://cdn-icons-png.flaticon.com/512/107/107831.png" alt="Carrinho">
                    </div>
                </a>
                <a href="../components/carrinho.html"><span class="carrinho-texto">Carrinho</span></a>
            </div>

            <nav class="header__nav-login">
                <ul class="header__ul-login">
                    <li><a href="../components/registro.html" id="logar">Logar</a></li>
                    <li><a href="../components/registro.html" id="criarConta">Criar Conta</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>